<template>
    <div class="container">
        <!-- 抽屉按钮和输入搜索框容器 -->
        <div class="header-container">
            <a-button @click="openDrawer" style="margin-right: 20px;">上传文件</a-button>
            <a-input-search
                    v-model="newTodo"
                    placeholder="请输入您要查询的问题"
                    enter-button="查询"
                    size="large"
                    @search="onSearch"
                    class="centered-div"
            />
        </div>

        <!-- 抽屉组件 -->
        <a-drawer
                :visible="drawerVisible"
                placement="top"
                @close="onClose"
                :width="300"
                style="position: absolute; top: 0; left: 0; right: 0;"
        >
            <div class="drawer-content">
                <a-upload-dragger
                        :showUploadList="false"
                        v-model:fileList="fileList"
                        name="file"
                        :multiple="true"
                        action="http://127.0.0.1:5000/upload"
                        @change="handleChange"
                        class="upload-dragger"
                >
                    <p class="ant-upload-drag-icon">
                        <inbox-outlined></inbox-outlined>
                    </p>
                    <p class="ant-upload-text">点击或拖拽上传数据库设计文档</p>
                    <p class="ant-upload-hint">
                        仅支持 .docx 类型的文件
                    </p>
                </a-upload-dragger>
                <a-select
                        v-model:value="selectedOption"
                        @change="handleSelectChange"
                        style="flex: 1; margin-left: 20px;"
                        placeholder="请选择一个选项"
                >
                    <a-select-option value="a">A</a-select-option>
                    <a-select-option value="b">B</a-select-option>
                    <a-select-option value="c">C</a-select-option>
                    <a-select-option value="d">D</a-select-option>
                </a-select>
            </div>
        </a-drawer>

        <!-- 表格和折线图切换 -->
        <div class="content-switcher">
            <div v-if="viewType === 'table'" class="table-container">
                <a-table
                        :data-source="dataSource"
                        :columns="columns"
                        class="table-div"
                />
            </div>
            <div v-else class="chart-container">
                <v-chart :option="chartOption" />
            </div>
        </div>

        <!-- 可视化/表格切换按钮 -->
        <div class="toggle-button-container">
            <a-button v-if="viewType === 'table'" @click="toggleView('line')" :style="{ position: 'fixed', right: '10%', top: '50%', transform: 'translateY(-50%)' }">
                可视化
            </a-button>
            <a-button v-else @click="toggleView('table')" :style="{ position: 'fixed', right: '10%', top: '50%', transform: 'translateY(-50%)' }">
                表格
            </a-button>
            <a-button v-if="viewType !== 'table'" @click="toggleView('scatter')" :style="{ position: 'fixed', right: '10%', top: '40%', transform: 'translateY(-50%)' }">
                散点图
            </a-button>
            <a-button v-if="viewType !== 'table'" @click="toggleView('bar')" :style="{ position: 'fixed', right: '10%', top: '60%', transform: 'translateY(-50%)' }">
                柱状图
            </a-button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { ref, onMounted } from 'vue';
    import { Upload, message, Drawer, TableColumnsType, Button, Select, Option } from 'ant-design-vue';
    import { InboxOutlined } from '@ant-design/icons-vue';
    import * as echarts from 'echarts/core';
    import { use } from 'echarts/core';
    import { CanvasRenderer } from 'echarts/renderers';
    import { LineChart, ScatterChart, BarChart } from 'echarts/charts';
    import { GridComponent, TooltipComponent } from 'echarts/components';
    import VChart from 'vue-echarts';

    // 注册必须的组件
    use([CanvasRenderer, LineChart, ScatterChart, BarChart, GridComponent, TooltipComponent]);

    export default {
        components: {
            AUploadDragger: Upload.Dragger,
            ADrawer: Drawer,
            AButton: Button,
            ASelect: Select,
            ASelectOption: Option,
            InboxOutlined,
            VChart,
        },
        setup() {
            const fileList = ref([]);
            const newTodo = ref('');
            const db_id = ref('perpetrator');
            const drawerVisible = ref(false);
            const selectedOption = ref('');
            const viewType = ref('table'); // 默认为表格视图
            const chartType = ref('line'); // 默认为折线图

            const handleChange = (info) => {
                const status = info.file.status;
                const isDocx = info.file.name.toLowerCase().endsWith('.docx');

                if (!isDocx) {
                    // 如果不是 .docx 文件，显示错误信息
                    message.error('只允许上传 .docx 格式的文件');
                    // 从 fileList 中移除该文件
                    fileList.value = fileList.value.filter(file => file.uid !== info.file.uid);
                    return;
                }

                if (status !== 'uploading') {
                    console.log(info.file, info.fileList);
                }
                if (status === 'done') {
                    message.success(`${info.file.name} file uploaded successfully.`);
                } else if (status === 'error') {
                    message.error(`${info.file.name} file upload failed.`);
                }
            };

            function onSearch(value) {
                if (typeof value === 'undefined' || value.trim() === '') {
                    alert('问题不能为空');
                    return;
                }

                axios.post('http://127.0.0.1:5000/axios', { 'question': value, 'db_id': db_id.value })
                    .then(response => {
                        // 更新响应式数据
                        dataSource.value = response.data[0];
                        columns.value = response.data[1];

                        console.log("后端返回成功", response.data[0]);
                        console.log("后端返回成功", response.data[1]);
                    })
                    .catch(error => {
                        console.error('请求失败:', error);
                    });
            }

            const onClose = () => {
                drawerVisible.value = false;
            };

            const openDrawer = () => {
                drawerVisible.value = true;
            };

            const handleSelectChange = (value) => {
                alert(`选择了选项: ${value}`);
            };

            const toggleView = (type) => {
                if (type === 'table') {
                    // 切换回表格视图
                    viewType.value = 'table';
                } else {
                    // 检查是否有数值型数据
                    const numericColumn = findNumericColumn(dataSource.value, columns.value);
                    const firstColumn = findFirstColumn(dataSource.value, columns.value);
                    if (numericColumn && firstColumn) {
                        // 绘制图表
                        createChart(numericColumn, firstColumn, type);
                        viewType.value = type;
                        chartType.value = type;
                    } else {
                        alert('没有找到合适的数值型数据或第一列');
                    }
                }
            };

            const findNumericColumn = (dataSource, columns) => {
                for (const column of columns) {
                    const dataIndex = column.dataIndex;
                    if (dataIndex && typeof dataSource[0][dataIndex] === 'number') {
                        return { dataIndex, title: column.title };
                    }
                }
                return null;
            };

            const findFirstColumn = (dataSource, columns) => {
                for (const column of columns) {
                    const dataIndex = column.dataIndex;
                    if (dataIndex && dataIndex !== 'key') {
                        return { dataIndex, title: column.title };
                    }
                }
                return null;
            };

            const createChart = (numericColumn, firstColumn, type) => {
                const yAxisData = dataSource.value.map(item => item[numericColumn.dataIndex]);
                const xAxisData = dataSource.value.map(item => item[firstColumn.dataIndex]);

                chartOption.value = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    xAxis: {
                        type: 'category',
                        data: xAxisData,
                        name: firstColumn.title  // 第一列的字段名作为X轴坐标名称
                    },
                    yAxis: {
                        type: 'value',
                        name: numericColumn.title  // 数值型数据的字段名作为Y轴坐标名称
                    },
                    series: [{
                        name: numericColumn.title,  // 系列名称
                        data: yAxisData,
                        type: type  // 根据传入的type绘制不同类型的图表
                    }]
                };
            };

            const dataSource = ref([
                {
                    key: '1',
                    name: '胡彦斌',
                    age: 32,
                    address: '西湖区湖底公园1号',
                },
                {
                    key: '2',
                    name: '胡彦祖',
                    age: 42,
                    address: '西湖区湖底公园1号',
                },
            ]);

            const columns = ref([
                {
                    title: '姓名',
                    dataIndex: 'name',
                    key: 'name',
                },
                {
                    title: '年龄',
                    dataIndex: 'age',
                    key: 'age',
                },
                {
                    title: '住址',
                    dataIndex: 'address',
                    key: 'address',
                },
            ]);

            const chartOption = ref({
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    type: 'category',
                    data: []
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [],
                    type: 'line'
                }]
            });

            return {
                newTodo,
                onSearch,
                columns,
                dataSource,
                db_id,
                fileList,
                handleChange,
                drawerVisible,
                onClose,
                openDrawer,
                selectedOption,
                handleSelectChange,
                viewType,
                toggleView,
                chartOption,
            };
        },
    };
</script>

<style scoped>
/* 保持原有的样式不变 */
.ant-upload-drag-icon .anticon-inbox {
    font-size: 48px;
    color: #1890ff;
}

.ant-upload-text {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.85);
}

.ant-upload-hint {
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.45);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 20vh;
    box-sizing: border-box;
}

.centered-div {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.table-container {
    margin-top: 5vh;
    width: 60%;
    box-sizing: border-box;
}

.table-div {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.drawer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.upload-dragger {
    flex: 0.9;
    margin-right: 20px;
}

.a-select {
    flex: 0.1;
}

.content-switcher {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.chart-container {
    width: 60%;
    height: 400px;
}

.toggle-button-container {
    position: fixed;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-button-container > .ant-btn {
    margin: 10px 0; /* 调整按钮之间的间距 */
}
</style>